.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    text-align: center;
    height: clamp(400px, 80vh, 1000px);
}
    
.div1 {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 3;
    max-height: clamp(20vh, 30vh, 40vh);
    overflow: auto;
}

.div4 {
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
}