<!-- 
    Angular has multiple built-in ways of performing transformations on data displayed in components.
    The core way of doing this is through pipes: pipes use the pipe operator ( | ) to indicate
    you want to pass data through a pipe operation

    To gain access to a pipe you have to import it into your component file and add it to the 
    array of imports for the Component, just like if you were importing another component for use
-->
@if(false){
   <p>{{ textData | titlecase }}</p> 
}

<p>{{ textData | pokeTextConverter}}</p>
